// Variable Imports
@import '../assets/variables';

.certs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    img {
        height: 7rem;
        margin: 0 2rem;
    }

    #checkatrade {
        padding: 1rem;
    }

    #vaillant {
        padding: 0.5rem;
    }
}


@media screen and (max-width: 900px) {
    $rate1: 25vw;
    $rate2: 15vw;
    $rate3: 25vw;

    .certs {
        img {
            height: auto;
            width: auto;
            margin: 2vw !important;
        }

        #checkatrade {
            padding: 0;
            width: $rate1;
            height: calc($rate1 * 250/997) !important;
        }

        #gassafe {
            width: $rate2;
            height: calc($rate2 * 539/750) !important;
        }

        #vaillant {
            padding: 0;
            width: $rate3;
            height: calc($rate3 * 127/290) !important;
        }

    }
}