// Variable Imports
@import '../assets/variables';

.head-container {
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;

    .box {
        display: flex;
        justify-content: center;
        background: -webkit-radial-gradient(circle, $color-Blue, #122A53);

        .content-box {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            width: 80%;
            max-width: 1100px;
            padding: 1rem;

            div:first-child {
                h2 {
                    font-size: 1.8rem;
                    letter-spacing: 1px;
                }

                p {
                    display: flex;
                    align-items: center;
                    font-weight: 600;

                    .icon {
                        font-size: 1.5rem;
                        margin: 0 0.25rem;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 500;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .icon {
                width: 3.25rem;
                margin-right: 2rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .head-container {
        .box {
            .content-box {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .head-container {
        .box {
            .content-box {

                .head-icon,
                p {
                    display: none !important;
                }
            }
        }
    }
}