// Variable Imports
@import '../assets/variables';

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1600px;
        //background-color: blue;

        .box {
            display: flex;
            justify-content: space-between;
            //padding-top: 3rem;
            //border: 3px solid blue;

            .card {
                display: flex;
                flex-direction: column;
                width: 30%;
                padding-top: 1rem;
                /////border: 1px solid black;

                .img-caption {
                    display: inline;
                    padding: 0.75rem 1rem;
                    margin-bottom: -4rem;
                    color: $color-very-Dark  !important;
                    background-color: rgba(255, 255, 255, 0.7);
                    position: relative;
                    z-index: 10;
                }

                .main-img {
                    border-radius: 0;
                    margin-bottom: -3rem;
                }

                .logo-stamp-img {
                    $stamp-height: 2.5rem;
                    height: $stamp-height;
                    width: calc(289/87 * $stamp-height);
                    border-radius: 25px 0 0 25px;
                    background-color: rgba(255, 255, 255, 0.85);
                    margin-bottom: 1rem;
                    align-self: flex-end;
                    position: relative;
                    z-index: 10;
                }

                p {
                    padding-top: 1rem;
                }

                // this to be moved
                ul {
                    list-style: none;
                    padding: 1rem;

                    li {
                        padding-bottom: 0.25rem;
                    }
                }
            }
        }
    }
}


//overflow: hidden;

@media screen and (max-width: 1024px) {
    .services {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .box {
                width: 100%;
                flex-direction: column;
                align-items: center;
                //background-color: red;
                //max-width: 800px;

                .card {
                    //background-color: rebeccapurple;
                    width: 100%;
                    max-width: 800px;

                    &:not(&:last-child) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .services {
        .container {
            .box {
                .card {

                    .main-img,
                    .img-caption {
                        position: relative;
                        left: -1rem;
                        width: calc(100% + 2rem);
                    }

                    .logo-stamp-img {
                        right: -1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .services {
        margin: 1rem 0;

        .container {
            width: 100%;
        }
    }
}