@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1100px;
  padding: 1.5rem;
}

#main-nav {
  background-color: white;
}
#main-nav .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-nav .container .box h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}
#main-nav .container .box h1 a .logo {
  width: 65px;
}
#main-nav .container .box h1 a div {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
#main-nav .container .box h1 a div span {
  color: #276091;
}
#main-nav .container .box .link {
  color: #393939;
  font-weight: 600;
  text-align: center;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
#main-nav .container .box .link:hover {
  color: #bd1900;
}

#sec-nav {
  background-color: #272727;
}
#sec-nav .container .box {
  display: flex;
}
#sec-nav .container .box .link {
  color: white;
  text-align: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
#sec-nav .container .box .link:hover {
  color: #a0adbe;
}

#third-nav {
  flex-direction: column;
  align-items: center;
  background: -webkit-radial-gradient(circle, #2D59A2, #122A53);
  /*.container:last-child {
          background: -webkit-radial-gradient(circle, #122A53, transparent);
      }*/
}
#third-nav * {
  color: white;
}
#third-nav .container {
  justify-content: flex-start;
}
#third-nav .container .box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#third-nav .container .box h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}
#third-nav .container .box p {
  margin-bottom: 1rem;
}
#third-nav .container .box p a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
#third-nav .container .box p a .icon {
  margin-right: 0.5rem;
}
#third-nav .container .box p a:hover {
  text-decoration: underline;
}
#third-nav .container .box > a {
  margin-bottom: 0.5rem;
  text-decoration: none;
}
#third-nav .container .box > a:hover {
  text-decoration: underline;
}
#third-nav .container .box:not(#third-nav .container .box:first-child) {
  margin-left: 2rem;
}
#third-nav .container .link-box {
  flex-direction: unset;
  font-size: 0.75rem;
  font-weight: 600;
}
#third-nav .container .link-box a {
  text-decoration: none;
}
#third-nav .container .link-box a:hover {
  text-decoration: underline;
}
#third-nav .container .link-box .link-wrapper:not(.link-wrapper:last-child) {
  border-right: 1px solid gray;
}
#third-nav .container .link-box .link-wrapper:not(.link-wrapper:last-child) a {
  margin-right: 1rem;
}
#third-nav .container .link-box .link-wrapper:not(.link-wrapper:first-child) a {
  margin-left: 1rem;
}
#third-nav .container:first-child {
  padding-bottom: 0;
}
#third-nav .container:nth-child(2) {
  flex-direction: column;
  padding-bottom: 0;
}
#third-nav .container:nth-child(2) .box {
  margin: 0 !important;
}
#third-nav .container:nth-child(2) #copyright-box {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.15rem;
  width: 100%;
}
#third-nav .container:nth-child(2) #copyright-box div {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
#third-nav .container:nth-child(2) #copyright-box div .icon {
  transform: rotate(180deg);
  margin-right: 0.25rem;
}
#third-nav .container:nth-child(2) #copyright-box div:hover span {
  text-decoration: underline;
}
#third-nav .container:nth-child(2) #copyright-box div span {
  font-size: 0.9rem;
}

#side-nav {
  width: 4rem;
  position: fixed;
  right: 0;
  top: 45vh;
  display: none;
}
#side-nav ul {
  list-style: none;
}
#side-nav ul li a {
  display: flex;
  text-decoration: none;
}
#side-nav ul li a .icon {
  font-size: 4rem;
  padding: 1.35rem;
  color: rgb(180, 180, 180);
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
#side-nav ul li a .icon:hover {
  color: #c11b1b;
}
#side-nav ul li a .box:nth-child(1) {
  background-color: white;
  position: relative;
  z-index: 10200;
}
#side-nav ul li a .box:nth-child(2) {
  display: flex;
  align-items: center;
  padding-left: 1.35rem;
  padding-right: 2.35rem;
  border-radius: 4px 0 0 4px;
  background-color: #2D59A2;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  left: -4rem;
  transition: all 200ms ease-in-out;
  z-index: 10100;
  opacity: 0;
}
#side-nav ul li a .box:nth-child(2):hover {
  color: white;
}
#side-nav ul li:first-child .box:nth-child(1) {
  border-radius: 4px 0 0 0;
}
#side-nav ul li:last-child .box:nth-child(1) {
  border-radius: 0 0 0 4px;
}
#side-nav ul li:not(li:last-child) {
  border-bottom: 1px solid gray;
}

.page {
  background-color: #276091;
  min-height: 500px;
}
.page .head-container {
  color: white;
  font-weight: 600;
}
.page .head-container .box {
  display: flex;
  justify-content: center;
  height: 150px;
  background: -webkit-radial-gradient(circle, #2D59A2, #122A53);
}
.page .head-container .box .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1100px;
  padding: 1rem;
}
.page .head-container .box .content-box div:first-child h2 {
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.page .head-container .box .content-box div:first-child p {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
}
.page .head-container .box .content-box div:first-child p .icon {
  font-size: 1.5rem;
  margin: 0 0.25rem;
}
.page .head-container .box .content-box div:first-child p a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.page .head-container .box .content-box div:first-child p a:hover {
  text-decoration: underline;
}

#cookie-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #94cc4c;
  border-radius: 8px;
  transform: rotate(45deg);
  cursor: pointer;
  display: none;
}
#cookie-box img {
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1100px) {
  #main-nav .container {
    flex-direction: column;
    align-items: center;
  }
  #main-nav .container .box:nth-child(2) {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  #main-nav h1 .logo {
    width: 50px !important;
  }
  #main-nav h1 span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  #main-nav .container {
    width: 100% !important;
  }
  #main-nav .container .box:nth-child(2) {
    flex-direction: column;
  }
  #main-nav .container .box:nth-child(2) a:not(a:last-child) {
    margin-bottom: 0.35rem !important;
  }
}
@media screen and (max-width: 300px) {
  #main-nav h1 .logo {
    width: 40px !important;
  }
  #main-nav h1 span {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 700px) {
  #sec-nav .container {
    flex-direction: column;
    align-items: center;
  }
  #sec-nav .container .box:nth-child(2) {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  #sec-nav .container .box:nth-child(2) {
    margin-top: 0;
  }
  #sec-nav .container .box:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }
  #sec-nav .container .box:nth-child(1) .internal-link {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 800px) {
  #third-nav .container {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  #third-nav .container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #third-nav .container .box {
    margin: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  #third-nav .container {
    padding: 0;
  }
  #third-nav .container .link-box {
    flex-direction: column;
  }
  #third-nav .container .link-box .link-wrapper {
    border: none !important;
    margin-bottom: 0.25rem;
  }
  #third-nav .container .link-box .link-wrapper a {
    margin: 0 !important;
  }
}/*# sourceMappingURL=App.css.map */