// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

//Color Variables
$color-very-Dark: #272727;
$color-Dark: #393939;
$color-Light: #636b75;
$color-extra-Light: #a0adbe;
$color-Brown: #bd1900;
$color-Blue: #2D59A2;
$color-Green: #94cc4c;
$color-Orange: #F0942B;
$color1-Logo: #276091;
$color2-Logo: #c11b1b;

// Miscellaneous Variables
$side-nav-radius: 4px;

// Extra Large Screens, Desktops, and TVs
$extra-large-2: 4096px;
$extra-large-1: 3840px;

// Large Screens, Desktops
$desktop-xxlarge: 2560px;
$desktop-xlarge: 1920px;
$desktop-large: 1600px;

// Medium Screens, Desktops
$desktop-medium: 1440px;

// Screens, Laptops
$laptop: 1200px;
$laptop-small: 1366px;

// Medium Tablets
$tablet-medium-screen: 1024px;

// Large Mobile Devices and Small Tablets
$tablet-large: 800px;
$tablet-medium: 768px;
$tablet-small: 600px;

// Medium Mobile Devices
$mobile-medium-screen: 480px;

// Small Mobile Devices
$mobile-xlarge: 414px;
$mobile-large: 375px;
$mobile-medium: 360px;
$mobile-small: 320px;


.page {
    display: flex;
    flex-direction: column;

    .head-container {
        color: white;
        font-weight: 600;

        .box {
            display: flex;
            justify-content: center;
            background: -webkit-radial-gradient(circle, $color-Blue, #122A53);

            .content-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                max-width: 1100px;
                padding: 1rem;

                div:first-child {
                    h2 {
                        font-size: 1.8rem;
                        letter-spacing: 1px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        //font-size: 0.9rem;

                        .icon {
                            font-size: 1.5rem;
                            margin: 0 0.25rem;
                        }

                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: 500;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-section {
    display: flex;
    justify-content: center;

    .container {
        width: 80%;
        max-width: 1100px;
        padding: 2rem 0;

        h2 {
            //font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: $color-Brown;
        }

        p {
            color: $color-Light;
            line-height: 1.8;
            margin-bottom: 1.5rem;

            a {
                color: $color-Brown;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .table-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 2.5rem;
        padding: 1rem 0;

        table {
            border-collapse: collapse;

            caption {
                padding: 1rem;
                text-align: center;
                color: $color-Brown;
                font-weight: 600;
            }

            tbody {
                tr {
                    td {
                        padding: 1rem;
                        text-align: center;
                        border: 1px solid #ccc;

                        h4 {
                            color: $color-Brown;
                            font-weight: 600;
                        }
                    }

                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }
                }
            }
        }

        table:nth-child(2) {
            margin-left: 2rem;
        }
    }
}



// Break Point Import
//@import 'breakpoints.css';

// Page Styles Import
@import 'prices.css';

// Component Style Imports
@import 'navigations.css';
@import 'cookies.css';
@import 'available.css';
@import 'certs.css';
@import 'sliders.css';
@import 'services.css';
@import 'contact.css';
@import 'service-details.css';



/*
h1 {
    //background-color: darkred !important;
}

h2 {
    //background-color: gold;
}

h3 {
    //background-color: slateblue !important;
}

p {
    //background-color: green;
}
*/

.h2-style {
    //background-color: transparent !important;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 550;
    color: $color-Brown;
    width: 100%;
    max-width: 500px;
}

.h3-style {
    //background-color: transparent !important;
    color: $color-Dark;
    font-weight: 550;
    padding: 0 0 1rem;
}

.h3-img-caption {
    padding: 0.5rem 1rem;
    margin-bottom: -4rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

.p-style {
    //background-color: transparent !important;
    letter-spacing: 1px;
    line-height: 1.35rem;
    width: 100%;
}

.slogan {
    //background-color: rgba(155, 155, 155, 0.5) !important;
    width: 100%;
    text-align: center;
    margin: 3rem auto;
    padding: 0 2rem;
    font-size: 2.25rem;
    color: $color-Dark;
    line-height: 3rem;
    letter-spacing: 1px;
    max-width: 1000px;
    font-weight: 500;
    text-transform: uppercase;

}

@media screen and (max-width: $tablet-large) {
    /*.h2-style {
        //font-size: 1.35rem;
    }

    .h3-style {
        //font-size: 1.15rem;
    }*/

    .slogan {
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin: 2rem auto;
    }

    .diagonal {
        .container {
            .title {
                width: 100%;
                font-size: 1.75rem;
            }
        }
    }
}