// Variable Imports
@import './variables';

.certs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    img {
        height: 5rem;
        margin: 1rem;
    }

    #gas-safe {
        height: 7rem;
    }
}


@media screen and (max-width: $tablet-small) {
    $rate1: 15vw;
    $rate2: 25vw;

    .certs {
        img {
            height: auto;
            width: auto;
            margin: 2vw !important;
        }

        #check-a-trade {
            width: $rate2;
            height: calc($rate2 * 70/150) !important;
        }

        #gas-safe {
            width: $rate1;
            height: calc($rate1 * 98/91.7) !important;
        }

        #vaillant {
            width: $rate2;
            height: calc($rate2 * 70/163) !important;
        }

    }
}