$color-very-Dark: #272727;
$color-Dark: #393939;
$color-Light: #636b75;
$color-extra-Light: #a0adbe;
$color-Brown: #bd1900;
$color-Blue: #2D59A2;
$color-Green: #94cc4c;
$color-Orange: #F0942B;
$color1-Logo: #276091;
$color2-Logo: #c11b1b;
$side-nav-radius: 4px;

// Extra Large Screens, Desktops, and TVs
$extra-large-2: 4096px;
$extra-large-1: 3840px;

// Large Screens, Desktops
$desktop-xxlarge: 2560px;
$desktop-xlarge: 1920px;
$desktop-large: 1600px;

// Medium Screens, Desktops
$desktop-medium: 1440px;

// Screens, Laptops
$laptop: 1200px;
$laptop-small: 1366px;

// Medium Tablets
$tablet-medium-screen: 1024px;

// Large Mobile Devices and Small Tablets
$tablet-large: 800px;
$tablet-medium: 768px;
$tablet-small: 600px;

// Medium Mobile Devices
$mobile-medium-screen: 480px;

// Small Mobile Devices
$mobile-xlarge: 414px;
$mobile-large: 375px;
$mobile-medium: 360px;
$mobile-small: 320px;

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    //background-color: red;

    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        //background-color: blue;

        .box {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid rgba(200, 200, 200, 0.3);
            padding-top: 3rem;

            .card {
                display: flex;
                flex-direction: column;
                width: 30%;
                border-radius: 0.5rem;

                .main-img {
                    border-radius: 0.5rem;
                    margin-bottom: -3rem;
                }

                .logo-stamp-img {
                    $stamp-height: 2.5rem;
                    height: $stamp-height;
                    width: calc(289/87 * $stamp-height);
                    border-radius: 25px 0 0 25px;
                    background-color: rgba(255, 255, 255, 0.85);
                    margin-bottom: 1rem;
                    align-self: flex-end;
                }

                ul {
                    list-style: none;
                    padding: 1rem;

                    li {
                        padding-bottom: 0.25rem;
                    }
                }
            }
        }
    }
}


//overflow: hidden;

@media screen and (max-width: 1024px) {
    .services {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .box {
                width: 100%;
                flex-direction: column;
                align-items: center;
                //background-color: red;
                max-width: 500px;

                .card {
                    //background-color: rebeccapurple;
                    width: 100%;
                    max-width: 500px;

                    &:not(&:last-child) {
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-medium) {
    .services {
        padding: 0.5rem;
        margin: 1rem 0;

        .container {
            width: 100%;
        }
    }
}