$color-very-Dark: #272727;
$color-Dark: #393939;
$color-Light: #636b75;
$color-extra-Light: #a0adbe;
$color-Brown: #bd1900;
$color-Blue: #2D59A2;
$color-Green: #94cc4c;
$color-Orange: #F0942B;
$color1-Logo: #276091;
$color2-Logo: #c11b1b;

$side-nav-radius: 4px;

.services {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &>h2 {
        width: 80%;
        padding: 1rem 0 0;
        font-size: 2rem;
        font-weight: 550;
        color: $color-Brown;
        text-decoration: underline;
        padding-bottom: 15px;
        text-underline-offset: 22px;
        text-decoration-thickness: 1.5px;
        border-bottom: 2px solid rgb(220, 220, 220);
        margin-bottom: 1rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding-top: 2rem;

        .box {
            display: flex;
            flex-direction: column;
            width: 30%;
            overflow: hidden;
            border-radius: 0.75rem;

            .main-img {
                width: 100%;
                border-radius: 0.75rem;
                margin-bottom: -50px;
            }

            .logo-stamp-img {
                height: 50px;
                align-self: flex-end;
                position: relative;
                border-radius: 25px 0 0 25px;
                background-color: rgba(255, 255, 255, 0.85);
                position: relative;
                top: -10px;
            }

            h3 {
                color: $color-extra-Light;
                font-weight: 100;
                padding: 1rem 0;
            }

            h2 {
                color: $color-Dark;
                font-weight: 550;
                padding: 0 0 1rem;
                min-height: 6rem;
            }

            p {
                color: $color-Dark;
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }

        .no-image-box {
            h2 {
                width: 80%;
                min-height: 6rem;
                padding: 1rem 0 0;
                font-weight: 550;
                color: $color-Brown;
                padding-bottom: 15px;
                text-underline-offset: 22px;
                text-decoration-thickness: 1.5px;
                border-bottom: 2px solid rgb(220, 220, 220);
                margin-bottom: 1rem;
            }

            ul {
                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .services {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .box {
                width: 100%;

                &:not(&:last-child) {
                    margin-bottom: 2rem;
                }

            }
        }
    }
}

@media screen and (max-width: 700px) {
    .services {
        padding: 2rem;

        &>h2 {
            width: 100%;
        }

        .container {
            width: 100%;

            .box {
                overflow: hidden;

                .main-img {
                    margin-top: -5rem;
                }
            }
        }
    }
}