// Variable Imports
@import './variables';

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    //background-color: red;

    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        //background-color: blue;

        .box {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid rgba(200, 200, 200, 0.3);
            padding-top: 3rem;

            .card {
                display: flex;
                flex-direction: column;
                width: 30%;
                border-radius: 0.5rem;

                .main-img {
                    border-radius: 0.5rem;
                    margin-bottom: -3rem;
                }

                .logo-stamp-img {
                    $stamp-height: 2.5rem;
                    height: $stamp-height;
                    width: calc(289/87 * $stamp-height);
                    border-radius: 25px 0 0 25px;
                    background-color: rgba(255, 255, 255, 0.85);
                    margin-bottom: 1rem;
                    align-self: flex-end;
                }

                ul {
                    list-style: none;
                    padding: 1rem;

                    li {
                        padding-bottom: 0.25rem;
                    }
                }
            }
        }
    }
}


//overflow: hidden;

@media screen and (max-width: 1024px) {
    .services {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .box {
                width: 100%;
                flex-direction: column;
                align-items: center;
                //background-color: red;
                max-width: 500px;

                .card {
                    //background-color: rebeccapurple;
                    width: 100%;
                    max-width: 500px;

                    &:not(&:last-child) {
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-medium) {
    .services {
        padding: 0.5rem;
        margin: 1rem 0;

        .container {
            width: 100%;
        }
    }
}